{% extends 'base.html.twig' %}

{% block title %}Accueil Blog
{% endblock %}

{% block body %}
	<h1>Ceci est mon blog</h1>
	{# <a href="/contact">Page contact</a> #}
	<a href="{{ path('page_contact') }}">Page contact</a>
{% endblock %}
