{% extends "base.html.twig" %}

{% block title %}Mes articles
{% endblock %}
{% block body %}
	<h1>Voici mes articles:</h1>
	{% for article in articles %}
		<a href="{{ path("show_article",{id: article.id}) }}">
			<h2>{{ article.title }}</h2>
			<hr>
		</a>
	{% endfor %}
{% endblock %}
