{% extends "base.html.twig" %}

{% block title %}article
{% endblock %}
{% block body %}
	<h1>{{ article.title }}</h1>
	<p>{{ article.publishedAt | date("Y-m-d") }}</p>
	<p>{{ article.content }}</p>
	<p>{{ article.category.name }}</p>

{% endblock %}
